<div class="containerLogin">
    <div *ngIf="getEmail == true && getCode == false && getPassword == false">
        <h2>Esqueci minha senha</h2>
        <form (ngSubmit) = "submitEmailInput()">
            <div class="form-group">
                <span for="nome">Insira seu email:</span>
                <label>
                    <input type="text" id="email" name="email" [(ngModel)]="field.email" required>
                </label>
            </div>
            <button type="submit">Enviar Código</button>
        </form>
    </div>

    <div *ngIf="getCode == true && getPassword == false && getEmail == false">
        <h2>Código de Verificação:</h2>
        <form (ngSubmit) = "submitCodeInput()">
            <div class="form-group">
                <span for="nome">Insira o código recebido no email indicado</span>
                <label>
                    <input type="text" id="code" name="code" [(ngModel)]="field.code" required>
                </label>
            </div>
            <button type="submit">Verificar Código</button>
        </form>
    </div>

    <div *ngIf="getPassword == true && getEmail == false && getCode == false">
        <h2>Cadastre sua nova senha</h2>
        <form (ngSubmit) = "submitPasswordInput()">
            <div class="form-group">
                <span for="nome">Insira a senha abaixo:</span>
                <label>
                    <input type="text" id="password" name="password" [(ngModel)]="field.password" required>
                </label>
            </div>
            <button type="submit">Alterar senha</button>
        </form>
    </div>
</div>
