<div class="containerGeral">
    <!-- historico-pedidos.component.html -->
    <h1 class="tituloTelas">Histórico de Pedidos</h1>

<div class="container" *ngFor="let item of historicoPedidos">

    <div class="pedido" *ngFor="let pedido of historicoPedidos">
      <div class="containerPedidosBox">
        <p><strong>Cliente:</strong> {{ pedido.cliente }}</p>
        <p><strong>Endereço:</strong> {{ pedido.endereco }}</p>
        <p><strong>Telefone:</strong> {{ pedido.telefone }}</p>
        <p><strong>Ticket do Pedido:</strong> {{ pedido.ticket }}</p>
        <p><strong>O que pediu:</strong> {{ pedido.pedido }}</p>
        <p><strong>Valor da Compra:</strong> R$ {{ pedido.valor }}</p>
        <p><strong>Status:</strong> {{ pedido.status }}</p>
        <p><strong>Data do Pedido:</strong> {{ pedido.data }}</p>
      </div>
    </div>
  </div>

</div>

