<div class="containerGeral">
    <h1 class="tituloTelas">Histórico de Pedidos</h1>


<div class="container">
        <div class="containerFilho" *ngFor="let pedido of pedidosConcluidos">
            <div>
        <div class="box">
                <div class="text">
                <div>
                    <p><strong>Ticket:</strong> {{ pedido.id }}</p>
                    <p><strong>Bairro:</strong> {{ pedido.bairro }}</p>
                    <p><strong>Cidade:</strong> {{ pedido.cidade }}</p>
                    <p><strong>Endereço:</strong> {{ pedido.endereco }}</p>
                    <p><strong>Número:</strong> {{ pedido.numero }}</p>
                    <p><strong>CEP:</strong> {{ pedido.cep }}</p>
                    <p><strong>UF:</strong> {{ pedido.uf }}</p>
                </div>
                <div>
                    <p><strong>Data de Finalização:</strong> {{ pedido.data_finalizacao }}</p>
                    <p><strong>Status:</strong>{{getStatusText(pedido.status)}} </p>
                    <p><strong>Total:</strong> {{pedido.total | currency:'BRL'}}</p>

                </div>
            </div>
        </div>
        </div>
  </div>
</div>
    <mat-paginator class="paginator" [length]="count" [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>

