<div class="containerGeral">
    <h1 class="tituloTelas">Histórico de Pedidos</h1>
    <div class="containerPedidosBox">
    <div *ngFor="let prod of pedido">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Data</th>
              <th>Status</th>
              <th>Endereço</th>
              <th>Numero</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>UF</th>
              <th>CEP</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedido">
              <td>{{ pedido.id }}</td>
              <td>{{ pedido.data_inclusao }}</td>
              <td>{{ pedido.status }}</td>
              <td>{{ pedido.endereco }}</td>
              <td>{{ pedido.numero }}</td>
              <td>{{ pedido.bairro }}</td>
              <td>{{ pedido.cidade }}</td>
              <td>{{ pedido.uf }}</td>
              <td>{{ pedido.cep }}</td>
              <td>{{ pedido.total }}</td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>

    <mat-paginator class="paginator" [length]="count" [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>

