.botaoPedidoAceitar{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerFilho{
    width: 100%;
    display: flex;
    justify-content: center;
}
