<div class="containerGeral">
    <h1 class="tituloTelas">Pedidos</h1>

    <div class="bloco-pesquisa">
        <mat-form-field class="form-situacao">
            <mat-select placeholder="Situação" [(ngModel)]="filtros.status" name="status">
                <mat-option [value]="0">Pendentes</mat-option>
                <mat-option [value]="1">Em Andamento</mat-option>
                <mat-option [value]="3">Cancelados</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="btn-pesquisar" (click)="pesquisar()" title="Pesquisar">
            <span class="material-icons">
                search
            </span>
        </button>
    </div>



    <div class="container">
        <!-- Agora fazemos um segundo *ngFor para percorrer os valores dentro de "valor" -->
        <div class="containerFilho" *ngFor="let pedido of listaPedidos">
            <div class="containerPedidosBox">
                <div class="text">
                    <div>
                        <p><strong>Ticket:</strong> {{ pedido.id }}</p>
                        <p><strong>Bairro:</strong> {{ pedido.bairro }}</p>
                        <p><strong>CEP:</strong> {{ pedido.cep }}</p>
                        <p><strong>Cidade:</strong> {{ pedido.cidade }}</p>
                        <p><strong>Data de Finalização:</strong> {{ pedido.data_finalizacao }}</p>

                    </div>
                    <div>
                        <p><strong>Endereço:</strong> {{ pedido.endereco }}</p>
                        <p><strong>Número:</strong> {{ pedido.numero }}</p>
                        <p><strong>Status:</strong>{{getStatusText(pedido.status)}} </p>
                        <p><strong>Total:</strong> {{pedido.total | currency:'BRL'}}</p>
                        <p><strong>UF:</strong> {{ pedido.uf }}</p>
                    </div>
                </div>
                <div>
                    <div class="containerBotoes">
                        <button *ngIf="pedido.status === 0" (click)="confirmarPedido(pedido)"> Confirmar pedido </button>
                        <button *ngIf="pedido.status === 1"(click)="concluirPedido(pedido)"> Concluir pedido </button>
                        <button *ngIf="pedido.status !== 2"(click)="cancelarPedido(pedido)"> Cancelar </button>
                    </div>
                </div>


        </div>

        </div>
    </div>
    <mat-paginator class="paginator" [length]="count" [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>
