@import url("https://fonts.google.com/css2?family=Roboto:wght@100;300;400;700&display=swap");


* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 0;

}

body {
    background: url("../../../assets/bg.jpeg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}