:root {
    --vermelho:#dd0330;
    --preto: #4a4a4a;
    --branco: #ffffff;
    --laranja: #ba5508;

    --vermelho-darken: darken(#dd0330, 0.2);
    --preto-darken: darken(#4a4a4a, 0.2);
    --branco-darken: darken(#ffffff, 0.2);
    --laranja-darken: darken(#ba5508, 0.2);

    --vermelho-rgb: 221, 3, 48;
    --preto-rgb: 74, 74, 74;
    --branco-rgb: 255, 255, 255;
    --laranja-rgb: 186, 85, 8;
}