<div class="containerGeral">
    <h1>{{ produtoId ? 'Editar' : 'Cadastrar' }} Produto</h1>

    <form class="bloco-form" [formGroup]="formDados">
        <div class="form-inputs">
            <mat-form-field *ngIf="produtoId" class="form-id">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" readonly>
            </mat-form-field>

            <mat-checkbox formControlName="status">Produto Ativo</mat-checkbox>

            <mat-form-field class="form">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" maxlength="80">
                <mat-error *ngIf="formDados.get('nome').hasError('required') && formDados.get('nome').touched" class="mat-text-warn">Preenchimento obrigatório.</mat-error>
            </mat-form-field>

            <mat-form-field class="form">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="descricao" maxlength="150" minlength="10">
                <mat-error *ngIf="formDados.get('descricao').hasError('required') && formDados.get('descricao').touched" class="mat-text-warn">Preenchimento obrigatório.</mat-error>
                <mat-error *ngIf="formDados.get('descricao').hasError('minlength') && formDados.get('descricao').touched" class="mat-text-warn">Mínimo 10 caracteres.</mat-error>
            </mat-form-field>

            <mat-form-field class="form">
                <mat-label>Valor</mat-label>
                <input matInput currencyMask maxlength="12" formControlName="valor">
                <mat-error *ngIf="formDados.get('valor').hasError('required') && formDados.get('valor').touched" class="mat-text-warn">Preenchimento obrigatório.</mat-error>
            </mat-form-field>

            <mat-form-field class="form">
                <mat-label>URL Imagem</mat-label>
                <input matInput formControlName="imagem" maxlength="400">
                <mat-error *ngIf="formDados.get('imagem').hasError('required') && formDados.get('imagem').touched" class="mat-text-warn">Preenchimento obrigatório.</mat-error>
            </mat-form-field>
        </div>

        <div class="botoes">
            <button mat-stroked-button color="primary" (click)="voltar()">
                Voltar
            </button>

            <button mat-raised-button color="primary" (click)="submitForm()">
                Salvar
            </button>
        </div>
    </form>
</div>