.bloco-form {
    margin-top: 2rem;
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    .form-id {
        width: 8rem;
    }
}

.botoes {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}