<div class="containerGeral">
    <h1>Manutenção de Cardápio</h1>

    <div class="linha-botoes">
        <div class="bloco-pesquisa">
            <mat-form-field class="form-situacao">
                <mat-select placeholder="Situação" [(ngModel)]="filtros.status">
                    <mat-option [value]="0">Todas</mat-option>
                    <mat-option [value]="1">Ativo</mat-option>
                    <mat-option [value]="2">Inativo</mat-option>
                </mat-select>
            </mat-form-field>
    
            <button mat-raised-button color="primary" class="btn-pesquisar" (click)="pesquisar()" title="Pesquisar">
                <span class="material-icons">
                    search
                </span>
            </button>
        </div>

        <button mat-raised-button color="primary" class="btn-adicionar" (click)="adicionarProduto()" title="Adicionar produto">
            <span class="material-icons">
                add
            </span>
        </button>
    </div>

    <div class="lista-produtos">
        <!-- PRODUTO -->
        <div *ngFor="let prod of produtos" class="bloco-produto">
            <!-- IMAGEM -->
            <div class="bloco-imagem">
                <img *ngIf="prod.imagem" [src]="prod.imagem">
                <span *ngIf="!prod.imagem" class="material-icons">
                    image
                </span>
            </div>
    
            <!-- INFOS -->
            <div class="bloco-infos">
                <div class="bloco-nome">
                    <!-- ID -->
                    <span class="prod-id">{{ prod.id }}</span>
                    <span class="traco">-</span>
                    <!-- NOME -->
                    <span class="nome">{{ prod.nome }}</span>
                </div>

                <!-- PRECO -->
                <div class="bloco-preco">
                    <span class="subtitulo">Preço:</span>
                    <span class="valor">{{ prod.valor | currency: 'BRL' }}</span>
                </div>
                
                <!-- DESCRICAO -->
                <div class="bloco-descricao">
                    <span class="subtitulo">Ingredientes:</span>
                    <span class="valor">{{ prod.descricao }}</span>
                </div>
    
                <!-- STATUS -->
                <div class="bloco-situacao" [ngClass]="{ 'ativo': prod.status }">
                    <span class="subtitulo">Situação:</span>
                    <span class="valor">{{ prod.status ? 'Ativo' : 'Inativo' }}</span>
                </div>
            </div>

            <!-- BOTOES -->
            <div class="bloco-botoes">
                <button mat-raised-button color="primary" class="btn-editar" (click)="editarProduto(prod.id)" title="Editar produto">
                    <span class="material-icons">
                        edit
                    </span>
                </button>

                <button mat-stroked-button class="btn-apagar" color="primary" (click)="apagarProduto(prod)" title="Apagar produto">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
            </div>
        </div>
    </div>

    <mat-paginator class="paginator" [length]="count" [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>